{% extends 'layout.html' %}

{% block body %}
<!--Navbar-->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Jonathan Guiang</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li class="active"><a href="/projects">Projects</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<style type="text/css">
   body { background: white !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>

<!-- Jumbotron -->
<div class="jumbotron jumbotron-billboard">
    <div class="program"></div>
    <p><br /></p>
    <div class="container">
        <h1>AutoDQM</h1>
        <p>
            AutoDQM is a statistical tool for Data Quality Management (DQM) at the Large Hadron Particle Collider. Before
            AutoDQM, DQM shifters were tasked with looking at hundreds of DQM histograms, looking for hard-to-spot issues
            in data collection. My tool runs long established statistical tests on these graphs and outputs outliers on
            a simple, but effective, GUI that expedites the shifters' task.
        </p>
        <p>
            <a class="btn btn-success btn-lg" href="http://uaf-8.t2.ucsd.edu/~jguiang/AutoDQM" role="button">Launch &raquo;</a>
            <a class="btn btn-primary btn-lg" href="https://github.com/jkguiang/AutoDQM" role="button">Github &raquo;</a>
        </p>
    </div>
</div> <!-- End jumbotron -->

<!-- Featured content -->
<div class="container">
    <h2>Highlights</h2>
    <hr>
    <div class="row">
        <div class="col-lg-4">
            <h3>Web Interface: PHP</h3>
            <p>
            AutoDQM's GUI is writting in PHP, mainly to allow it to dynamically
            source output histograms. More speifically, PHP is used to retrieve
            the output of a user's specific query, which is tagged by a unique
            timestamp calculated on query submission.
            </p>
            <p><a class="btn btn-primary" href="https://github.com/jkguiang/AutoDQM" role="button">Github &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h3>Web Interface: Javascript</h3>
            <p>
            The backbone of AutoDQM's functionality is written in Javascript, with heavy
            use of JQuery. Javascript-based features include dynamic mulit-page lists,
            search bars, unique URLs generated for each query submission, and many more.
            </p>
            <p><a class="btn btn-primary" href="https://github.com/jkguiang/AutoDQM/tree/release-v1.0.0/src/js" role="button">Github &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h3>Statistical Arsenal</h3>
            <p>
            AutoDQM calculates the &chi;<sup>2</sup> between a data and reference
            histogram. It also uses the Kolmogorov-Smirnov test, and it plots
            output histograms with either cell-by-cell pull values for 2D plots or
            an overlay of the reference and data histograms for 1D plots.
            </p>
            <p><a class="btn btn-primary" href="https://github.com/jkguiang/AutoDQM/blob/release-v1.0.0/src/AutoDQM.py" role="button">Github &raquo;</a></p>
        </div>
    </div>
</div> <!-- End featured content -->

{% endblock %}
