{% extends 'layout.html' %}

{% block body %}
<!--Navbar-->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Jonathan Guiang</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li class="active"><a href="/gallery">Gallery</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>



<style type="text/css">
   body {
       background: white !important;  /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
   /* Move down content because we have a fixed navbar that is 50px tall */
    }
    .sidebar-nav-fixed {
        width:14%;
    }

</style>

<p><br /><br /><br /><br /></p>

<div class="container-fluid">
  <div class="row">
          <!-- Side Navbar -->
        <div class="col-md-3">
            <div class="sidebar-nav-fixed affix">
                <div class="well">
                    <ul class="nav">
                        <li class="active"><a href="/gallery">Gallery</a></li>
                        <li><a href="https://giphy.com/channel/jguiang">Animations</a><li>
                        <li><a href="/gallery/photography">Photography</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- End side navbar -->

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="row".>
        <!-- Left Column -->
            <div class="col-lg-6">
                <div class="container-fluid">
                    <p><br /></p>
                    <div class="text-center">
                        <img id="img1" src="{{ url_for('static', filename='img/Primal_Rage.png') }}" width=300 height=500>
                        <span class="text-muted">
                            <br /><br />
                            July 2017
                    </span>
                    </div>
                </div>

                <div class="container-fluid">
                    <p><br /></p>
                    <div class="text-center">
                        <img id="img2" src="{{ url_for('static', filename='img/partitions.jpg') }}" width=255 height=308>
                        <span class="text-muted">
                            <br /><br />
                            November 2015
                        </span>
                    </div>
                </div>

                <div class="container-fluid">
                    <p><br /></p>
                    <div class="text-center">
                        <img id="img3" src="{{ url_for('static', filename='img/batman_poster.jpg') }}" width=324 height=576>
                        <span class="text-muted">
                            <br /><br />
                            December 2016
                        </span>
                    </div>
                </div>
            </div>
        <!-- Right Column -->
            <div class="col-lg-6">
                <div class="container-fluid">
                    <p><br /></p>
                    <div class="text-center">
                        <img id="img1" src="{{ url_for('static', filename='img/sb_postcard.jpg') }}" width=326 height=184>
                        <span class="text-muted">
                            <br /><br />
                            March 2016
                    </span>
                    </div>
                </div>

                <div class="container-fluid">
                    <p><br /></p>
                    <div class="text-center">
                        <img id="img2" src="{{ url_for('static', filename='img/boldy_go.jpg') }}" width=300 height=400>
                        <span class="text-muted">
                            <br /><br />
                            December 2016
                        </span>
                    </div>
                </div>

                <div class="container-fluid">
                    <p><br /></p>
                    <div class="text-center">
                        <img id="img3" src="{{ url_for('static', filename='img/attack_ofthe_trapezoids.jpg') }}" width=405 height=623>
                        <span class="text-muted">
                            <br /><br />
                            April 2015
                        </span>
                    </div>
                </div>
            </div>
        <!-- End row -->
        </div>
    </div>
</div>

{% endblock %}
