{% extends 'layout.html' %}

{% block body %}
<!-- Navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Jonathan Guiang</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li class="active"><a href="/gallery">Gallery</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container">
    <p><br /></p>
    <p><br /></p>
    <div class="page-header">
        <h1>Gallery</h1>
    </div>
</div>
    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-billboard">
        <div class="designs"></div>
        <p><br /></p>
        <div class="container">
            <h1>Designs</h1>
            <p>
                I am by no means a serious graphic artist. Instead, I pursue design as one might try to learn how to
                paint or draw. Photoshop is a greate creative outlet for me and I am constantly trying to get better at
                it. I am hoping that this page can serve as a timeline for my very slow progress so that one day I may
                look back and see how far I've come.
            </p>
            <p><a class="btn btn-primary btn-lg" href="/gallery/designs" role="button">See More &raquo;</a></p>
        </div>
    </div> <!-- End jumbotron -->
    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-billboard">
        <div class="animations"></div>
        <p><br /></p>
        <div class="container">
            <h1>Animations</h1>
            <p>
                I have made several animations for the Mira Mesa Optometry facebook page. They mainly serve to
                liven up various posts. Using Photoshop to animate is new to me and I am eager to do more, though
                it is a very time-consuming and exhausting process. Eventually, I plan to host them here, but
                for now, this link will direct you to giphy.com where they currently reside.
            </p>
            <p><a class="btn btn-primary btn-lg" href="https://giphy.com/channel/jguiang" role="button">See More &raquo;</a></p>
        </div>
    </div> <!-- End jumbotron -->
    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-billboard">
        <div class="photography"></div>
        <p><br /></p>
        <div class="container">
            <h1>Photography</h1>
            <p>
                I have included here some pictures I took at various places that I have been lucky enough to visit,
                as well as several obligatory beach pictures that one must eventually take while living in Santa
                Barbara. I have used some of these throughout this website and partly included this page to allay
                copyright suspicions.
            </p>
            <p><a class="btn btn-primary btn-lg" href="/gallery/photography" role="button">See More &raquo;</a></p>
        </div>
    </div> <!-- End jumbotron -->

{% endblock %}
