{% extends 'layout.html' %}

{% block body %}
<!-- Navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Jonathan Guiang</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/programs">Programs</a></li>
        <li class="active"><a href="/gallery">Gallery</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container">
    <p><br /></p>
    <p><br /></p>
    <div class="page-header">
        <h1>Gallery</h1>
    </div>
</div>

<div class="container">
    <div class="greybg">
        <p><br /></p>
        <p><br /></p>
        <div class="row">
            <div class="col-md-4">
                <div class="text-center">
                    <img class="imgframe" src="static/img/Primal_Rage.png" width="300" height="500" alt="Generic placeholder thumbnail">
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <img class="imgframe" src="static/img/batman_poster.jpg" width="270" height="480" alt="Generic placeholder thumbnail">
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <img class="imgframe" src="static/img/boldy_go.jpg" width="300" height="400" alt="Generic placeholder thumbnail">
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="text-center">
                <span class="text-muted">July 2017</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <span class="text-muted">November 2016</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <span class="text-muted">December 2016</span>
            </div>
        </div>

        <p><br /></p>
        <p><br /></p>

        <div class="row">
            <div class="col-md-4">
                <div class="text-center">
                    <img class="imgframe" src="static/img/attack_ofthe_trapezoids.jpg" width="324" height="498" alt="Generic placeholder thumbnail">
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <img class="imgframe" src="static/img/partitions.jpg" width="306" height="361" alt="Generic placeholder thumbnail">
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <img class="imgframe" src="static/img/sb_postcard.jpg" width="326" height="184" alt="Generic placeholder thumbnail">
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="text-center">
                <span class="text-muted">July 2017</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <span class="text-muted">November 2016</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <span class="text-muted">December 2016</span>
            </div>
        </div>
        <p><br /></p>
        <p><br /></p>
    </div>


</div>
{% endblock %}
