{% extends 'layout.html' %}

{% block body %}
<!--Navbar-->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Jonathan Guiang</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/programs">Programs</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<style type="text/css">
   body { background: white !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>

<!-- Jumbotron -->
<div class="jumbotron jumbotron-billboard">
    <div class="venice"></div>
    <p><br /></p>
    <div class="container">
        <h1>Hello.</h1>
        <p>
            Welcome to my personal website, which I developed using Flask and Boostrap.
            Here you will find my various digital work, from graphic design to interactive programs written by me!
            If you wish to contact me, please fill out the contact form on the Contact page. To view the source code
            for this website, please click the button below.</p>
        <p><a class="btn btn-primary btn-lg" href="http://github.com/jkguiang/my_website" role="button">Github &raquo;</a></p>
    </div>
</div> <!-- End jumbotron -->

<!-- Featured content -->
<div class="container">
    <h2>Featured Content</h2>
    <hr>
    <div class="row">
        <div class="col-lg-4">
            <h3>AutoPlotter</h3>
            <p>
            AutoPlotter is a web interface for a C++ program that plots
            real CMS3 data and Monte Carlo simulations.
            </p>
            <p><a class="btn btn-primary" href="/programs/autoplotter" role="button">Learn More &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h3>AutoDQM</h3>
            <p>
            AutoDQM is a statistical tool for LHC Data Quality Management.
            </p>
            <p><a class="btn btn-primary" href="/programs/autodqm" role="button">Learn More &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h3>Orca Logo</h3>
            <p>
            In the summer of 2017, I had the priveledge to design a
            new logo for Orca Communications.
            </p>
            <p><a class="btn btn-primary" href="http://www.orcacommunications.com/" role="button">Website &raquo;</a></p>
        </div>
    </div>
</div> <!-- End featured content -->

{% endblock %}
