<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Jonathan Guiang</title>
        <!-- Bootstrap Quickstart CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <!-- Custom CSS -->
        <link rel="stylesheet" href="static/grey_bg.css" />
        <link rel="stylesheet" href="static/main_style.css" />
    </head>

    <body>
        {% block body %}{% endblock %}
        <div class="container">
            <hr>
            <footer>
                <p>Last updated August 6, 2017</p>
            </footer>
        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>

</html>
