{% extends 'layout.html' %}

{% block body %}
<!--Navbar-->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Jonathan Guiang</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li class="active"><a href="/projects">Projects</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>



<style type="text/css">
   body {
       background: white !important;  /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
   /* Move down content because we have a fixed navbar that is 50px tall */
    }
    .sidebar-nav-fixed {
        width:14%;
    }

</style>

<p><br /><br /><br /><br /></p>

<div class="container-fluid">
  <div class="row">
          <!-- Side Navbar -->
        <div class="col-md-3">
            <div class="sidebar-nav-fixed affix">
                <div class="well">
                    <ul class="nav">
                        <li class="active"><a href="/projects/projectmetis">Metis: Log Module</a></li>
                        <li><a href="#image_1">Collapsable Links</a></li>
                        <li><a href="#image_2">Graphs</a></li>
                        <li><a href="#image_3">Summaries</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- End side navbar -->

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="container-fluid">
            <h1 id="image_1">Collapsable Links</h1>
            <p><br /></p>
            <img src="{{ url_for('static', filename='img/metis_web_1.png') }}" width=1200 height=700>
            <p>
                <br /><br />
                The JavaScript for this project was mainly written by Nick Amin, a graduate student working for the Campagnari
                group. It is responsible for taking a .json produced by the data parser, and all of the links and
                pasting all of the associated pictures below, as well as allowing for collapsable links and several other
                features not displayed here.
            </p>
            <hr>
        </div>

        <div class="container-fluid">
            <h2 id="image_2">Graphs</h2>
            <p><br /></p>
            <img src="{{ url_for('static', filename='img/metis_web_2.png') }}" width=1200 height=700>
            <p>
                <br /><br />
                The graphs shown here were all generated by the plotter program linked on the previous page. They are simple,
                two dimensional histograms from the Matplotlib library. The x and y-axis labels were retrieved directly
                from the dstat logfiles. Here, epoch refers to the time, where all graphs are normalized to a time length
                of one (for greater readability). The y-axis labels refer to various quantities describing CPU, memory, and
                network usage.
            </p>
        </div>

        <div class="container-fluid">
            <h2 id="image_3">Summaries</h2>
            <p><br /></p>
            <img src="{{ url_for('static', filename='img/metis_web_3.png') }}" width=1200 height=700>
            <span>
                <br /><br />
                This summary information is printed like this for all jobs evaluated by the log parser. It describes the jobs
                that were unsuccessful, as well as how much information is missing in total. It is displayed as the raw .json
                output because it is readable enough, such that it was not worth the time and effort to format further.
            </span>
        </div>
    </div>
</div>

{% endblock %}
